/PSA-Final-Projects/nbproject/private/
/PSA-Final-Projectsp/build/*
/PSA-Final-Projects/nbbuild/
/PSA-Final-Projects/dist/
/PSA-Final-Projects/nbdist/
/PSA-Final-Projects/.nb-gradle/
**/PSA-Final-Projects/private/
/PSA-Final-Projects/.idea/